{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сантехнік Київ</title>
    <link href="{% static 'suit/style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>

    <div class="container">
        <header id="navbar">
            <a href="#" class="logo">Сантехнік24/7!<span>Виклик</span>
            <span2>09706985885</span2><h6>Андрій Шевченко</h6></a>
            <ul>
                <li><a href="#"class="active">Головна</a></li>
                <li><a href="#">Меню</a></li>
                <li><a href="#">Інфо</a></li>
                <li><a href="#">Контакти</a></li>
            </ul>
            <span class="menuIcon" onclick="menuToggle();"></span>
        </header>
        <div class="content">
            <div class="bannerText" id="slideshowText">
                <div class="active">
                    <h2> Киев<br>
                    Терміново</h2>
                    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo,
                    maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te,</p>
                    <p>id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur
                    his ad.Eum no molestiae voluptatibus.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="bannerImg" id="slideshow">
                <img src="{% static 'images/plumber7.jpg' %}" class="active">
            </div>
        </div>

    </div>
    <div class="xx">
        <h1>Гарантія виконання і якість робіт!</h1>
    </div>
    <div class="container2">
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'images/plamber1.jpg' %}">
            </div>
            <div class="content2">
                <h3>Водопровід</h3>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum
                consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.Ut enim ad minim veniam,
                quis nostrud exercitation ullamco.Sunt in culpa qui officia
                deserunt mollit anim id est laborum consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore
                dolore magna aliqua.Ut enim ad minim veniam,quis nostrud
                enim ad minim veniam,quis nostrud exercitation ullamco.</p>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'images/plumber11.jpg' %}">
            </div>
            <div class="content2">
                <h3>Опалення</h3>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum
                consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.Ut enim ad minim veniam,
                quis nostrud exercitation ullamco.Sunt in culpa qui officia
                deserunt mollit anim id est laborum consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore
                dolore magna aliqua.Ut enim ad minim veniam,quis nostrud
                enim ad minim veniam,quis nostrud exercitation ullamco.</p>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'images/plumber10.jpg' %}">
            </div>
            <div class="content2">
                <h3>Каналізація</h3>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum
                consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.Ut enim ad minim veniam,
                quis nostrud exercitation ullamco.Sunt in culpa qui officia
                deserunt mollit anim id est laborum consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore
                dolore magna aliqua.Ut enim ad minim veniam,quis nostrud
                enim ad minim veniam,quis nostrud exercitation ullamco.</p>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'images/plumber2.jpg' %}">
            </div>
            <div class="content2">
                <h3>Аварії</h3>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum
                consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.Ut enim ad minim veniam,
                quis nostrud exercitation ullamco.Sunt in culpa qui officia
                deserunt mollit anim id est laborum consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore
                dolore magna aliqua.Ut enim ad minim veniam,quis nostrud
                enim ad minim veniam,quis nostrud exercitation ullamco.</p>
            </div>
        </div>
    </div>

    <div class="zz">
        <h2>Визвать сантехника срочно! Киев</h2>
            <p>Работаю  во всех раенах Киева, приезжаю очень бистро.</p>
            <p>Телефонуйте не відкладаючи...0970698585</p>
            <p>Опис
            Выполняю все виды сантехнических работ!!!!
            Водоснабжение:
            замена труб холодной и горячей воды;
            замена, монтаж, перенос стояков водоснабжения;
            вывод воды под душ,стиралку, раковину, посудомойку,ванну,унитаз;
            монтаж скрытых смесителей,гигиенических душей,I-box;
            монтаж и установка аквасторожа.
            установка счетчиков, фильтров грубой очистки,фильтров системы осмос, редукторов
            давления;
            Канализация:
            монтаж, перенос, замена стояков канализации;
            сантехнические работы по прокладке труб канализации
            вывод канализации под душ,стиралку, раковину, посудомойку,ванну,унитаз;
            монтаж обратного клапана,вывод под кондиционеры.
            Установка и подключение сантехники:
            моек и раковин, смесителей;
            бойлеров;
            полотенцесушителей, душ кабин, ванн, унитазов;
            Мелкий ремонт сантехники:
            устраняем течь с унитазов, раковин, ванн, душ кабин, канализации и тд.
            Работаю с современными материалами: Valtek, Rehau, Fado, Ostendorf и др.
            Выполняю сантех.работы под ключ (от просчета стоимости и создания сметы до закупки и
            монтажа )
            Выполняю полный просчет стоимости работ и материалов, так что вы будете до начала работ
            знать точную стоимость всех работ и материалов.
            Основное направление это разводка воды и канализации в новостройках качественными
            импортными материалами
            качественно и в оговоренные сроки!!!
            Консультирую предварительно по звонку!
            Готов сотрудничать с дизайнерами или лицами которые имеют постоянные заказы!!!
            Добросовестно выполняю свою работу.
            Звоните, спрашивайте, советуйтесь, постараюсь помочь ,Звоните в любое время!</p>
    </div>

    <div class="footer">
        <div class="icons">
            <h2>Footer</h2>
        <h3>Всі права захишені 2020 р. Soft Developed by Andii Shevchenko</h3>
            <ul class="sci">
                <li><a href="#"><img src="{% static 'images/twitter.png' %}"></a></li>
                <li><a href="#"><img src="{% static 'images/Facebook.png' %}"></a></li>
                <li><a href="#"><img src="{% static 'images/instagram.jpg' %}"></a></li>
            </ul>
        </div>
    </div>

</body>
</html>