{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сантехнік Київ</title>
    <link href="{% static 'suit/style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>

    <div class="container">
        <header id="navbar">

            <div class="loader">
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
                <span style="--i:4;"></span>
                <span style="--i:5;"></span>
                <span style="--i:6;"></span>
                <span style="--i:7;"></span>
            </div>
            <svg>
                <filter id="gooey">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"/>
                    <feColorMatrix values="
                        1 0 0 0 0
                        0 1 0 0 0
                        0 0 1 0 0
                        0 0 0 20 -10
                    "/>
                </filter>
            </svg>

            <a href="#" class="logo">Сантехнік24/7!<span>Виклик</span>
            <span2>09706985885</span2><h6>Андрій Шевченко</h6></a>
            <ul>
                <li><a href="#"class="active">Головна</a></li>
                <li><a href="#">Меню</a></li>
                <li><a href="#">Інфо</a></li>
                <li><a href="#">Контакти</a></li>
            </ul>
            <span class="menuIcon" onclick="menuToggle();"></span>
        </header>
        <div class="content">
            <div class="bannerText" id="slideshowText">
                <div class="active">
                    <h2> Киев<br>
                    Терміново</h2>
                    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo,
                    maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te,</p>
                    <p>id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur
                    his ad.Eum no molestiae voluptatibus.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="bannerImg" id="slideshow">
                <img src="{% static 'images/plumber7.jpg' %}" class="active">
            </div>
        </div>

    </div>
    <div class="xx">
        <h1>Гарантія виконання і якість робіт!</h1>
    </div>
    <div class="container2">
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'images/plamber1.jpg' %}">
            </div>
            <div class="content2">
                <h3>Водопровід</h3>
                <p>Інженерна сантехніка(це трубу у квартирі або приватному
                будинку)Розрахунок що система пропрацюю в середнему 15р.
                Для цого повинні також витримані норми безпеки встановленні
                редуктор для понижчення тиску у системі.Всереднему тиск в ХВС
                магістралі м.Киева від 4 до 10 бар.в замежності від раену і
                вулиці міста.Більне 7 бар це вже недобре тому що вся система
                буде на працювати на макс.і тому  значно швидше будуть різні
                дрібні  аварії.</p>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'images/plumber11.jpg' %}">
            </div>
            <div class="content2">
                <h3>Опалення</h3>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum
                consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.Ut enim ad minim veniam,
                quis nostrud exercitation ullamco.Sunt in culpa qui officia
                deserunt mollit anim id est laborum consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore
                dolore magna aliqua.Ut enim ad minim veniam,quis nostrud
                enim ad minim veniam,quis nostrud exercitation ullamco.</p>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'images/plumber10.jpg' %}">
            </div>
            <div class="content2">
                <h3>Каналізація</h3>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum
                consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.Ut enim ad minim veniam,
                quis nostrud exercitation ullamco.Sunt in culpa qui officia
                deserunt mollit anim id est laborum consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore
                dolore magna aliqua.Ut enim ad minim veniam,quis nostrud
                enim ad minim veniam,quis nostrud exercitation ullamco.</p>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="{% static 'images/plumber2.jpg' %}">
            </div>
            <div class="content2">
                <h3>Аварії</h3>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum
                consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.Ut enim ad minim veniam,
                quis nostrud exercitation ullamco.Sunt in culpa qui officia
                deserunt mollit anim id est laborum consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore
                dolore magna aliqua.Ut enim ad minim veniam,quis nostrud
                enim ad minim veniam,quis nostrud exercitation ullamco.</p>
            </div>
        </div>
    </div>

    <div class="zz">
        <h3>Виклик сантехника терміново! 0970698585 Київ</h3>
            <p>Працюю в усіх раенах Київа, приїзжаю  дуже швидко.</p>
            <p>Опис:
            Виконую всі виды сантехнічних рабіт.
            Водопостачання: заміна труб ХВС та ГВС води;
            заміна, монтаж, переніс стояків водопостачання;
            вивід води під душ,пральну машину, раковину, посудомийку,ванну,унитаз;
            монтаж скрытых смесителей,гигиенических душей,
            монтаж і встановлення "Гідролоков".
            встановлення счетчиків, фильтрів грубой очистки,фильтрів системи осмос, редукторів
            тиску; Каналізация: монтаж, переніс, заміна стояків канализации;
            сантехнические работи по прокладкі труб каналізації
            вивід каналізації под душ,пральну машину, раковину, посудомийку,ванну,унитаз;
            монтаж зворотнего клапана,вивід для кондиционерів.
            Встановлення та підключення сантехніки:
            кухонних моек і раковин, змішувачів, бойлерів
            полотенцесушителів, душ кабін, ванн, унітазів;
            Дрібний ремонт сантехніки:
            унитазів, раковин, ванн, душ кабин, канализации и тд.
            Работаю с современными материалами: Valtek, Rehau, Fado, Ostendorf и др.
            Виконую сантех.работи під ключ.
            Розраховую кошторес рабіт а також витратних матеріалів.
            Головне направлення  це разводка води і каналізації в новобудовах якісними
            іноземними матеріалами.
            Якісно і в зазначені терміни!
            Консультую як у телефонному режимі так і на сомому місці виконання робіт.
            Готов співпрацювати з дизайнерами!
            Якісно вуконую роботу.
            Телефонуйте в будь який час!</p>
    </div>

    <div class="footer">
        <div class="icons">
            <h3>&copy Всі права захишені 2020 р</h3>
        <h3>&copy Soft Developed by Andii Shevchenko</h3>
            <ul class="sci">
                <li><a href="#"><img src="{% static 'images/twitter.png' %}"></a></li>
                <li><a href="#"><img src="{% static 'images/Facebook.png' %}"></a></li>
                <li><a href="#"><img src="{% static 'images/instagram.jpg' %}"></a></li>
            </ul>
        </div>
    </div>

</body>
</html>